# example env that exists in the main .env.development.local
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=


AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
NEXTAUTH_URL=
AUTH_SECRET=
